*,
::after,
::before {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  border-color: currentColor;
  border-width: 1px;
  border-radius: 0;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1px;
  fill: none;
}
:root {
  --col-900: #1a202c;
  --col-800: #2d3748;
  --col-700: #4a5568;
  --col-600: #718096;
  --col-500: #a0aec0;
  --col-400: #cbd5e1;
  --col-300: #e2e8f0;
  --col-200: #edf2f7;
  --col-100: #f7fafc;
  --col-50: #ffffff;
  --col-theme: #f1f5f9;
  --base-size: 760px;
  --footer-baseline: 6px;
  --border-radius: 5px;
  --ui-background: rgba(0, 0, 0, 0.4);
  block-size: 100%;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'BIZ UDPGothic', Meiryo, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width: 809px) {
  :root {
    --base-size: 94%;
  }
}
@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}
body {
  block-size: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  color: #0f172a;
  background-color: var(--col-100);
}
header,
main {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-columns: var(--base-size);
}
header {
  justify-items: center;
  padding-block-start: 0.5em;
  padding-block-end: 0.2em;
  border-block-end: 1px solid var(--col-400);
  background-color: var(--col-100);
}
main {
  row-gap: 1em;
  padding-block-start: 2em;
  padding-block-end: 3em;
  overflow-y: auto;
}
ul,
ol {
  padding-inline-start: 1.4em;
}
li {
  margin-block: 0.3em;
}
h1 {
  font-size: 110%;
}
h1,
h2,
h3 {
  font-weight: 600;
}
code {
  display: inline-grid;
  padding: 1px 4px;
}
img {
  display: block;
  inline-size: 100%;
}
figure {
  display: grid;
  grid-auto-flow: row;
  justify-items: stretch;
  row-gap: 0.3em;
  counter-increment: figure;
}
figcaption::before {
  content: 'å›³' counter(figure) ' ';
}
svg {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
}
main#panorama {
  position: absolute;
  inset: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.pnlm-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  outline: 0;
}
.pnlm-render-container {
  pointer-events: none;
}
.pnlm-ui,
.pnlm-dragfix {
  position: absolute;
  inset: 0;
}
.pnlm-ui {
  display: grid;
  grid-template-columns: 94%;
  place-content: center;
}
.pnlm-lbar {
  block-size: 4px;
  background-color: var(--col-400);
}
.pnlm-lbar-fill {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  background-color: currentColor;
}
.pnlm-hotspot-base {
  position: absolute;
  top: 0;
}
.pnlm-hotspot {
  --size: 16px;
  inline-size: var(--size);
  block-size: var(--size);
  border: solid 3px red;
}
