.markers-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  list-style: none;
}
.markers-list > li {
  display: grid;
  block-size: 1.6em;
  max-inline-size: 16em;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  align-content: center;
  margin-inline-end: 1em;
  font-size: 90%;
  line-height: 1;
}
.markers-list > li > a {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  column-gap: 0.3em;
}
.icon {
  inline-size: 0.9em;
  block-size: 0.9em;
}
